{% extends "layouts/window.html" %}
{% block content %}
<h1 class="text-purple-500 text-2xl font-bold">[Login form]</h1>
<form action="/login" method="post" class="p-2 mt-4 flex flex-col gap-2">
    <input id="email" type="email" name="email" class="rounded-md p-2" placeholder="your email" />
    <input id="password" type="password" name="password" class="rounded-md p-2" placeholder="your password" />
    <button id="login-btn" type="submit" class="rounded-md transition-all hover:bg-purple-600 block p-2 text-white bg-purple-500 font-semibold tracking-widest">Login</button>
    <a href="/register" class="text-white text-lg font-semibold">Or create a new user</a>
</form>
{% endblock %}