<!DOCTYPE html>
<html>
    <%= CloudService.TemplateEngine.render_view("_head", title: "Upload") %>
    <body>
        <%= CloudService.TemplateEngine.render_view("_navbar", active: :upload) %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <input class="form-control" type="file" id="file">
                    </div>
                    <button type="button" class="btn btn-primary mb-5" onclick="upload()">
                        Submit
                    </button>

                    <span id="result"></span>
                </div>
            </div>
        </div>
        <%= CloudService.TemplateEngine.render_view("_footer") %>
        <script>
          const sendFile = (file, data) => {
            const xhr = new XMLHttpRequest()
            const formData = new FormData()

          xhr.onreadystatechange = () => {
              if (xhr.readyState === 4)
                document.getElementById('result').innerHTML = `
                    <div class="alert alert-success" role="alert">
                        You can check your file <a href="/show/${xhr.response}">here</a>.
                    </div>
                `
            }

          formData.append('data', data)
            formData.append('file', file)
            xhr.open('POST', '/api/upload')
            xhr.send(formData)
          }

        const upload = () => {
            const target = document.getElementById('file');
            const file = target?.files?.[0]

          if (file) {
              const reader = new FileReader();
              reader.onloadend = () => sendFile(file, reader.result)
              reader.readAsDataURL(file);
            }
          }
        </script>
    </body>
</html>
