<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jerryboree</title>
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class='container-fluid'>
  <div id='main'>
    
    <div class='header row'>
      <div class='col-md-12' id='nameLogo'>
        <h1>Jerry<span>boree!</span></h1>
        <h2>Daycare Center</h2>
      </div>
      <h3 class='col-md-12'>Taking care of your Jerry <br />when there's crap to do</h3>
      <div class='col-md-12' id='jerryWrapper'>
        <img id='headerJerry' src="/static/images/sticker_375x360.u1_hpcnno.png"/>
      </div>
    </div>
    
    <div id='mainBody'>
      <article id='article1'>
        <div class='row'>
          <div id='bethWrapper' class='col-md-12'>
            <img id='beth' src="/static/images/sticker_220x200-pad_220x200_ffffff.u1_emzmha.jpg"/>
            <div id='speechBubble'><h2 class='text-center'>Welcome to <span>Jerry<span>boree!</span></span>   &nbsp; Adult Daycare Center</h2></div>
     </div>
          <div class='col-md-2'></div>
          <div id='quote' class='col-md-6'>
          <blockquote class='blockquote'>
            <p>This is a totally unregistered cross-temporal asteroid. Here they can romp and play with other Jerries, it couldn't be safer!</p>
            <footer class='blockquote-footer'>Rick Sanchez</footer>
          </blockquote>
        </div>
        </div>
      
      <article id='article2'>
        <div class='row'>
          <ul class='col-md-5'>
          <h3>Why choose <span id='jb'>Jerry<span>boree!</span></span> for your Jerrycare needs?</h3>
          <li><span id='reason'>Safety</span> -- Our facility is discretely located but easy to find if you're a Rick</li>
          <li><span id='reason'>Convenience</span> -- Just drop him off and you're free to adventure all you want!</li>
          <li><span id='reason'>Affordable</span> -- Jerrycare has never been more accessible or affordable for all Ricks</li>
            <li><span id='reason'>Available</span> -- We're the sole provider of Jerrycare in the multiverse. That's right, the only one. Good luck taking him somewhere else.</li>
        </ul>
          <h2 class='pull-right col-md-5'>But Don't Take Our Word For It!</h2>
       </div>
      </article>
      
      <article id='article3' class='row'>
        <img class='thumbnail col-md-6' id='nurse' src="/static/images/tumblr_nwv20kmNTl1ujcz1oo1_1280_cvjpyj.jpg"/>
        <div id='testimony' class='col-md-6'>
          <h3>Customer Testimonies</h3>
          <p>"I wish I had this idea. Well, I did have this idea. I wish I was the <em>version</em> of me that owned it. That guy's rich."</p>
          <p>"It's perfect for when I really don't want to deal with him."</p>
          <p>"Who? Jerry? Oh yeah we *buuurp* we ditch him there from time to time"</p>
          <p>"Don't forget to check the reason for your drop-off. Trust me, Morty, I've heard stories from other Ricks."</p>
        </div>
      </article>
      
      <article id='article4' class='row'>
        <h3 class='text-center col-lg-12'><span id='crayon'>Friends of </span> <span>Jerry<span>boree!</span></span></h3>
        <div class='row'>
          <div class='col-sm-1'></div>
          <div class='col-sm-2'><img src="/static/images/sticker_220x200-bg_ffffff-pad_220x200_ffffff.u1_gs3scf.jpg"/></div>
          <div class='col-sm-2'><img src="/static/images/sticker_375x360.u2_gpiuxw.png"/></div>
          <div class='col-sm-2'><img src="/static/images/sticker_375x360.u1_a1pvp9.png"/></div>
          <div class='col-sm-2'><img src="/static/images/sticker_220x200-bg_ffffff-pad_220x200_ffffff.u3_xijmuh.jpg"/></div>
          <div class='col-sm-2'><img id='councilLogo' src="/static/images/transdimensional_council_of_ricks_pin_by_stewartisme-d7dtrr7_jxkjm9.png"/></div> 
        </div>
      </article>
      
      <footer id='pageFooter'>
        <h3 class='text-center'>{{ message | raw }}</h3>
        <h2 class='text-center'>So what are you waiting for?! Come visit us today!</h2>
      </footer>
      
    </div>
  </div>
  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>