{% extends "layouts/admin.html" %}
{% block content %}

<h1 class="text-2xl tracking-wide">Products page</h1>

<div class="mt-4">
    {% if not products %}
    <h2>No products found</h2>
    {% else %}
    <table class="table-auto w-full mx-auto text-white">
        <thead class="bg-gray-900 bg-opacity-70">
            <tr>
                <th class="border border-white px-4 py-2">ID</th>
                <th class="border border-white px-4 py-2">Price</th>
                <th class="border border-white px-4 py-2">Title</th>
            </tr>
        </thead>
        <tbody class="bg-transparent">
            {% for product in products %}
            <tr class="hover:bg-gray-700 hover:bg-opacity-50">
                <td class="border border-white px-4 py-2">{{ product["id"] }}</td>
                <td class="border border-white px-4 py-2">{{ product["price"] }}</td>
                <td class="border border-white px-4 py-2">{{ product["title"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}