<!DOCTYPE html>
<html>

<head>
    {% include "layouts/head.html" %}
</head>

<body>
    <div
        class="lg:max-w-screen w-full flex flex-col items-center font-mono relative overflow-x-hidden lg:p-0 body-font overflow-hidden h-screen bg-blue-950 z-0">
        <div
            class="container mt-16 px-5 py-24 mx-auto flex rounded-[.4rem] bg-gradient-to-t lg:bg-gradient-to-b from-slate-800 to-slate-900 shadow-lg shadow-blue-950 border-[1px] border-blue-800">
            <div class="container flex flex-row gap-16 h-96 w-full text-white">
                <div class="h-full flex flex-col font-medium text-xl text-red-400 tracking-wider gap-3">
                    <a class="transition-all hover:text-red-600" href="/">- Store</a>
                    <a class="transition-all hover:text-red-600" href="/subs">- Orders</a>
                    <a class="transition-all hover:text-red-600" href="/logout">- Logout</a>
                </div>
                <div class="h-full flex-1 text-xl">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <img loading="lazy" width="300" height="200" decoding="async" data-nimg="1"
            class="absolute w-full -z-10 -top-12 left-[50%] translate-x-[-50%] opacity-[100%] max-h-[62rem] object-cover"
            src="/static/img/future.svg">
    </div>
</body>

</html>