<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pod Diagnostics {{system_version}}</title>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/rpgui.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/system.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="rpgui-content overflow-y-scroll">{% block body %}{% endblock %}</div>

    <script src="/static/js/rpgui.js"></script>
  </body>
</html>
