{% extends "_template.html" %} {% block body %}

<div class="rpgui-container framed-grey container mt-4 text-center">
  <h1>Submit Report</h1>

  <label>Title</label>
  <input id="report-title" type="text" required value="{{title}}" />
  <br />
  <br />
  <label>Description</label>
  <textarea id="report-description" required>{{description}}</textarea>
  <br />
  <div class="text-center">
    <button class="rpgui-button" id="submit"><p class="m-0">{% if report %}Update{% else %}Submit{% endif %}</p></button>
  </div>
</div>

<script src="/static/js/report.js"></script>
{% endblock %}
