<%- include("inc/header"); %>
<div class="container" style="padding-top: 100px;">
    <div class="card">
        <div id="quiz" class="card-body mb-4">
            <h2 class="card-title mt-4 mb-4">404 Not Found!</h2>
            <img class="img-fluid" src="/static/img/404.png">
        </div>
    </div>
</div>
<%- include("inc/footer"); %>