.thread-title {
    height: 80px;
    margin: 5px;
}
.av-sm {
    max-width: 62px;
}
.title-col {
    margin-top: 15px;
}
.th-img {
    width: 50px;
}

@media(max-width: 800px) {
    .bcm-ul li:first-child {
        display: none;
    }
    .nviews {
        display: none;
    }
}

.post-card {
    background-color: #40404033;
    margin-bottom: 30px;
}



.post-user-col {
    background-color: #313030;
    max-width: 200px;
    text-align: center;
    margin-left: 13px;
}

.p-uname {
    display: block;
    padding: 15px;
}

.p-img {
    width: 130px;
}

.p-stat-row {
    margin:0 auto;
    width: 130px;
    font-size: 12px;
    color: #727577;
    font-weight: bold;
    padding: 25px 0px;
}

.p-stat-row > .col:first-child {
    border-right: 1px solid #4f4a4a;
}

.p-role {
    background: #1e1c1c;
    padding: 6px;
    position: relative;
    margin-left: -13px;
    margin-right: -13px;
    color: #5ea45e;
    font-weight: bold;
}

.p-role:after {
    content: '';
    background: #791c1c;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 10px;
    top: 13px;
    border-radius: 50%;
}

.p-admin {
    color: red;
}

.p-admin:after {
    top: 17px;
}
.adm-gif {
    width: 20px;
    margin: 5px;
}

.p-foot-ul {
    background: #1e1c1c;
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 9px;
    margin-bottom: 0px;
}

.p-foot-li {
    display: inline-block;
    padding: 5px;
    margin: 0px 4px;
    background: #8c1e21;
    border-radius: 2px;
    font-size: 13px;
    color: #b3b3b3;
}

.p-foot-li:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.p-like, .p-reply {
    background: #515155;
}

.post-content-col {
    padding: 15px;
    color: #aaa;
    font-size: 14px;
}

.post-content-col a {
    color: white;
    text-decoration: none;
}

.p-created {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 13px;
}


#markdown_view {
    height: 80vh;
    margin-bottom: 20px;
}

.EasyMDEContainer {
    height: 32vh !important;
}

.CodeMirror {
    height: 27vh !important;
}

.separator {
    display: none !important;
}


.new-th-form-input, .new-th-form-input:focus {
    border-radius: 0px;
    background: #1e1c1c;
    color: #aaa;
    border: black;
    outline: none;
    box-shadow: none;
}

.new-th-form-select{
    border-radius: 0px;
    background: #1e1c1c;
    color: #aaa;
    border: black;
    outline: none;
    box-shadow: none;
}

.new-th-header {
    background: #3e3e3e;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.new-th-tarea > .EasyMDEContainer {
	height: 35vh !important;
}

#resp-msg {
   display: none;
    margin: 0 auto;
    margin-top: 10px;
}