body {
  background-color: #131b28;
  background-image: url(/static/img/background.png);
}

.rpgui-dropdown-imp li {
  height: 32px;
}

/* https://fonts.google.com/specimen/Press+Start+2P */
@font-face {
  font-family: "Press Start 2P";
  src: url("/static/fonts/PressStart2P-Regular.ttf");
}
